.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    gap: 20px;
 }
 
 .home h1 {
    color: #fff;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
 }
 
 .home button {
    background: #fff;
    color: #012b20;
    font-size: 24px;
    padding: 22px;
 }