@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4/bootstrap-4.min.css');

/* RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   width: 100%;
   min-height: 100%;
   font-family: Arial, Helvetica, sans-serif;
   background: #005935;
}

body {
   color: #111;
}

/* TITULOS */
h1, h2, h3 {
   font-weight: 700;
}

.page{
   padding:18px;
   min-height:100vh;
}

/* TOPO */
.topo{
   display:flex;
   align-items:center;
   gap:12px;
   margin-bottom:20px;
   color:#fff;
}

.topo h2{
   font-size:28px;
   font-weight:700;
}

.voltar{
   width:50px;
   height:50px;
   border-radius:16px;
   background:#fff;
   color:#012b20;
   font-size:22px;
   display:flex;
   align-items:center;
   justify-content:center;
   box-shadow:0 6px 16px rgba(0,0,0,.18);
}

/* CARD */
.card {
   background: #fff;
   border-radius: 22px;
   padding: 18px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, .12);
   margin-bottom: 18px;
}

/* BOTÕES */
button {
   border: none;
   border-radius: 16px;
   padding: 16px;
   font-size: 20px;
   font-weight: 700;
   cursor: pointer;
   transition: .2s;
}

button:active {
   transform: scale(.97);
}

/* INPUTS */
input, select {
   width: 100%;
   padding: 16px;
   font-size: 18px;
   border-radius: 14px;
   border: 1px solid #ddd;
   outline: none;
}

/* LOADING */
.loading {
   display: none;
   position: fixed;
   inset: 0;
   background: rgba(1, 20, 5, 0.644);
   z-index: 9999;
   justify-content: center;
   align-items: center;
}

.loading.show {
   display: flex;
}

.spinner {
   width: 60px;
   height: 60px;
   border: 6px solid #ddd;
   border-top: 6px solid #9F022F;
   border-radius: 50%;
   animation: gira 1s linear infinite;
}

/* ========================================
   COMPONENTE GLOBAL: LINHA ITEM
======================================== */

.linha-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 14px 10px;
   border-bottom: 1px solid #eee;
   font-size: 18px;
   transition: .2s;
   background: #fff;
   margin-bottom: 10px;
   border-radius: 14px;
   border: none;
   box-shadow: 0 4px 12px rgba(0,0,0,.08);
}

/* TEXTO */
.nome-item {
   font-weight: 600;
   max-width: 45%;
   line-height: 1.2;
   color: #111;
}

/* AÇÕES */
.acoes-item {
   display: flex;
   align-items: center;
   gap: 8px;
   flex-shrink: 0;
}

/* BADGE */
.badge-qtd {
   min-width: 28px;
   text-align: center;
   font-size: 18px;
   font-weight: 700;
   color: #111;
}

@keyframes gira {
   100% {
      transform: rotate(360deg);
   }
}