@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4/bootstrap-4.min.css');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   width: 100%;
   min-height: 100%;
   font-family: Arial, Helvetica, sans-serif;
   background: #005935; /*#006940;*/
}

body {
   color: #111;
}

/* TITULOS */
h1,
h2,
h3 {
   font-weight: 700;
}

/* CARD PADRÃO */
.card {
   background: #fff;
   border-radius: 22px;
   padding: 18px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, .12);
   margin-bottom: 18px;
}

/* BOTÕES */
button {
   border: none;
   border-radius: 16px;
   padding: 16px;
   font-size: 20px;
   font-weight: 700;
   cursor: pointer;
   transition: .2s;
}

button:active {
   transform: scale(.97);
}

/* INPUTS */
input,
select {
   width: 100%;
   padding: 16px;
   font-size: 18px;
   border-radius: 14px;
   border: 1px solid #ddd;
   outline: none;
}

/* LOADING */
.loading {
   display: none;
   position: fixed;
   inset: 0;
   background: rgba(1, 20, 5, 0.644);
   z-index: 9999;
   justify-content: center;
   align-items: center;
}

.loading.show {
   display: flex;
}

.spinner {
   width: 60px;
   height: 60px;
   border: 6px solid #ddd;
   border-top: 6px solid #9F022F;
   border-radius: 50%;
   animation: gira 1s linear infinite;
}

@keyframes gira {
   100% {
      transform: rotate(360deg);
   }
}